/*-------------------------------*/
/*  Fonts
/*-------------------------------*/
@font-face {
  font-family: 'Lato';
  src: url("https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,400i,700,900");
}
@font-face {
    font-family: 'Josefin Slab';
    src: url("https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,300i,400,400i,700");
}

/* @font-face kit */

@font-face {
    font-family: 'mausregular';
    src: url('fonts/maus-webfont.eot');
    src: url('fonts/maus-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/maus-webfont.woff2') format('woff2'),
    url('fonts/maus-webfont.woff') format('woff'),
    url('fonts/maus-webfont.ttf')
}
/*-------------------------------*/
/*  Original font
/*-------------------------------*/
/* @font-face {
  font-family: 'Raleway';
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
}
*/