@font-face {
  font-family: 'Lato-Black';
  src: url('../../../assets/fonts/Lato-Black.ttf') format('tff'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../../../assets/fonts/Lato-Regular.ttf') format('tff'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'Lato-Thin';
  src: url('../../../assets/fonts/Lato-Thin.ttf') format('tff'); /* Super Modern Browsers */
}